{% extends "layout.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
<script>
    $(document).ready(function () {
        $("#posts").tablesorter();
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <form action="" method="post" name="keyword">
                {{ form.keyword.label }}
                {{ form.keyword }}
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-xs-6" id="wordcloud">
            {% include "wordcloud.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table tablesorter" id="posts">
                <thead>
                <th>Relevance</th>
                <th>Sentiment</th>
                <th>Text</th>
                </thead>
                <tbody>
                {% for post in posts %}
                {% include "post.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}